/* caveat-regular - latin */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/caveat-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Caveat Regular'), local('Caveat-Regular'),
       url('../fonts/caveat-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/caveat-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/caveat-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/caveat-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/caveat-v4-latin-regular.svg#Caveat') format('svg'); /* Legacy iOS */
}

/* caveat-700 - latin */
@font-face {
  font-family: 'Caveat';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/caveat-v4-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Caveat Bold'), local('Caveat-Bold'),
       url('../fonts/caveat-v4-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/caveat-v4-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/caveat-v4-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/caveat-v4-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/caveat-v4-latin-700.svg#Caveat') format('svg'); /* Legacy iOS */
}
