/* codystar-300 - latin */
@font-face {
  font-family: 'Codystar';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/codystar-v5-latin-300.eot'); /* IE9 Compat Modes */
  src: local('Codystar Light'), local('Codystar-Light'),
       url('../fonts/codystar-v5-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/codystar-v5-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/codystar-v5-latin-300.woff') format('woff'), /* Modern Browsers */
       url('../fonts/codystar-v5-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/codystar-v5-latin-300.svg#Codystar') format('svg'); /* Legacy iOS */
}

/* codystar-regular - latin */
@font-face {
  font-family: 'Codystar';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/codystar-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Codystar'),
       url('../fonts/codystar-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/codystar-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/codystar-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/codystar-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/codystar-v5-latin-regular.svg#Codystar') format('svg'); /* Legacy iOS */
}
