/* lobster-regular - latin */
@font-face {
  font-family: 'Lobster';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/lobster-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lobster Regular'), local('Lobster-Regular'),
       url('../fonts/lobster-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/lobster-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/lobster-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/lobster-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/lobster-v20-latin-regular.svg#Lobster') format('svg'); /* Legacy iOS */
}
