/* metrophobic-regular - latin */
@font-face {
  font-family: 'Metrophobic';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/metrophobic-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Metrophobic Regular'), local('Metrophobic-Regular'),
       url('../fonts/metrophobic-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/metrophobic-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/metrophobic-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/metrophobic-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/metrophobic-v10-latin-regular.svg#Metrophobic') format('svg'); /* Legacy iOS */
}
