/* petit-formal-script-regular - latin */
@font-face {
  font-family: 'Petit Formal Script';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/petit-formal-script-v5-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Petit Formal Script'), local('PetitFormalScript-Regular'),
       url('../fonts/petit-formal-script-v5-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/petit-formal-script-v5-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/petit-formal-script-v5-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/petit-formal-script-v5-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/petit-formal-script-v5-latin-regular.svg#PetitFormalScript') format('svg'); /* Legacy iOS */
}
