/* baumans-regular - latin */
@font-face {
  font-family: 'Baumans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/baumans-v7-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Baumans Regular'), local('Baumans-Regular'),
       url('../fonts/baumans-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/baumans-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/baumans-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/baumans-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/baumans-v7-latin-regular.svg#Baumans') format('svg'); /* Legacy iOS */
}
