/* podkova-regular - latin */
@font-face {
  font-family: 'Podkova';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/podkova-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Podkova Regular'), local('Podkova-Regular'),
       url('../fonts/podkova-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/podkova-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/podkova-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/podkova-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/podkova-v11-latin-regular.svg#Podkova') format('svg'); /* Legacy iOS */
}

/* podkova-700 - latin */
@font-face {
  font-family: 'Podkova';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/podkova-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Podkova Bold'), local('Podkova-Bold'),
       url('../fonts/podkova-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/podkova-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/podkova-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/podkova-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/podkova-v11-latin-700.svg#Podkova') format('svg'); /* Legacy iOS */
}
