/* tenor-sans-regular - latin */
@font-face {
  font-family: 'Tenor Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/tenor-sans-v8-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Tenor Sans'), local('TenorSans'),
       url('../fonts/tenor-sans-v8-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/tenor-sans-v8-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/tenor-sans-v8-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/tenor-sans-v8-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/tenor-sans-v8-latin-regular.svg#TenorSans') format('svg'); /* Legacy iOS */
}
